/* src/components/FileUpload.css */
.file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 8rem 2rem; /* Increased vertical padding */
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s;
    width: 100%; /* Will now fill its parent container */
}

.file-upload-container:hover,
.file-upload-container.drag-over {
    border-color: #007bff;
}

/* Target the text inside the container */
.file-upload-container p {
    font-size: 1.125rem; /* Larger text */
    color: #666;
}

.upload-icon {
    font-size: 4rem; /* Larger icon */
    color: #007bff;
    margin-bottom: 1rem; /* Add space between icon and text */
}

.file-info {
    margin-top: 1rem;
    font-size: 1.125rem; /* Match text size */
}

.file-name {
    font-weight: bold;
}

.progress-bar-container {
    width: 100%;
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-top: 1rem;
}

.progress-bar {
    height: 100%;
    background-color: #007bff;
    border-radius: 5px;
    transition: width 0.3s;
}